.Init{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: inherit;
    height: inherit;
}


.button{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 280px;
        height: 60px;
        border: 1px solid #290044;
        border-radius: 15px;
        font-size: 1.2rem;
        font-weight: 700;
        color: #fff;
        background-color: #ab2cff;
        transition: 0.3s;
        box-shadow: 2px 2px 10px #000;
        text-decoration: none;
}
.button:hover{
        background-color: #1af7aa;
        box-shadow: 1px 1px 15px #f1f1f1;
        color: #290044;
        cursor: pointer;
        // transform: scale(1.05, 1.05);
}

.googleLogo{
    width: 30px;
    height: 30px;
}

.triviaLogo{
    width: 330px;
    height: 80px;
    margin-top: 50px;
    margin-bottom: 15%;
}