.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    height: 100px;
    padding-top: 10px;
    .trivia-logo{
        width: 200px;
        height: 50px;
    }
    .greeting{
        font-size: 2.5rem;
    }
    .right-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .perfil-photo{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 2px solid #1af7aa;
            margin-right: 10px;
            transition: all ease 0.7s ;
        }
        // .perfil-photo:hover{
        //     cursor: pointer;
        //     border: 2px solid #ab2cff;
        // }
        .life-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-right: 15px;
            p{
                font-size: 1.4rem;
                font-weight: 700;
                margin-right: 5px;
            }
            .star{
                width: 30px;
                height: 30px;
            }
        }
    }
}




//MEDIA QUERIES STYLES



@media (max-width: 1024px){
    .Header{
        .greeting{
            font-size: 2rem;
        }
    }
}

@media (max-width: 850px){
    .Header{
        .greeting{
            font-size: 1.5rem;
        }
    }
}


@media (max-width: 750px){
    .Header{
        .greeting{
            display: none;
        }
    }
}


@media (max-width: 450px){
    .Header{
        .trivia-logo{
            width: 150px;
            height: 35px;
        }
        .right-container{
            .perfil-photo{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid #1af7aa;
            margin-right: 10px;
            transition: all ease 0.7s ;
            }
        }
        .right-container{
            .life-container{
                p{
                    font-size: 1rem;
                    font-weight: 700;
                    margin-right: 5px;
                }
                .star{
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}
